.plans-plan{
  display:flex;
  justify-content:space-between;
  padding:20px;
  opacity: 0.8;
}
.plans-plan:hover{
  opacity: 1;
}

.plans-plan>button{
  padding:10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border:none;
  cursor: pointer;
  font-weight: 600;
}

.plans-subcribed>button{
  background-color: grey
}

.renewal-date{
  font-weight: 600;
}

