.profile-screen{
  height:100vh;
  color:#fff
}

.profile-container{
  display:flex;
  flex-direction:column;
  margin:0 auto;
  width:50%;
  padding-top: 8%;
  max-width: 800px;
}

.profile-info{
  display:flex;
}

.profile-info>img{
  height:100px;
}

.profile-container > h1{
  font-size:60px;
  font-weight:400;
  border:1px solid #282c2d;
  margin-bottom:20px;
}

.profile-details{
  color:#fff;
  margin-left:25px;
  flex:1;
}